<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./cssImprov/bootstrap-3.3.7-dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="./cssImprov/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="./cssImprov/visualEng.css" rel="stylesheet" type="text/css">
    <title>Previous Submissions List</title>
</head>
<section id="prevSubListBody">

    <h1 id="tableTitle">Previous Submissions list</h1>

    <div class="" style="position:relative; text-align: center; max-height: 300px; max-width: 800px">
        <canvas id="sizeTable" width="800" height="300" style=""></canvas>
    </div>

    <script src="./jsImprov/JQuery.js-3.1.1/jquery.min.js"></script>
    <script src="./jsImprov/Chart.js-2.3.0/Chart.bundle.js"></script>
    <script src="./jsImprov/vep-previoussubslist.js"></script>

</section>
</html>
